.Tile {
    width: 100%;
    height: fit-content;
    min-height: 2cm;
    max-width: 12cm;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    //overflow: scroll;
    box-sizing: border-box;
    color: black;
}

.tile-form {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}