.root {
    width: 100%;
    max-width: 30cm;
    flex-grow: 1;
    box-sizing: border-box;
}
.grid-tile-container{
  display: grid;
  gap: .5cm;
  margin: .5cm;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(4.4cm, 1fr));
}