:root {
  --color-acc: rgba(150,180,240);
  --color-acc-faded: rgba(150,180,240,0.8);
  --color-bg: rgb(41,43,61);
  --color-text: rgba(230,230,240);
  --color-bg2: rgba(50,60,80);
  --color-hd-ft: rgb(28, 32, 47);
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
  background-color: var(--color-bg)
}
button{
  background-color: var(--color-acc-faded);
  border: 0px solid whitesmoke;
  color: black;
  fill: var(--color-acc);
  color: var(--color-text);
  /* cursor: pointer; */
}
input{
  color: var(--color-text);
  fill: var(--color-text);
  border: 2px solid var(--color-acc-faded) !important;
  padding: 4px !important;
  border-radius: 8px;
} 
h1,h2,h3,h4,h5,h6{
  color: var(--color-text);
}

.view{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}


#root{
  box-sizing: border-box;
}
.vstack{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hstack{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon{
  width: 2em;
  height: 2em;
  flex-shrink: 0;
}
.picture{
  width: 4em;
  height: 4em;
  flex-shrink: 0;
  border-radius: 100%;
}
.tile-container {
    padding: 8px;
}
.spacer-default{
  width: 7px;
  height: 7px;
}