:root {
    --hue: 0;
    --saturation: 0%;
    --lightness: 100%;
    --darkest: hsl(0, 0%, 15%);
    --lightest: hsl(0, 0%, 70%);
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
#root{
  box-sizing: border-box;
}
.vstack{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hstack{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon{
  width: 2em;
  height: 2em;
  flex-shrink: 0;
}
.picture{
  width: 4em;
  height: 4em;
  flex-shrink: 0;
  border-radius: 100%;
}
.tile-container {
    padding: 8px;
}
.spacer-default{
  width: 7px;
  height: 7px;
}